.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.time,
.display,
.day {
    font-family: 'Roboto', sans-serif;
    opacity: 0.95;
}

.time,
.day {
    font-size: 4.2rem;
    font-weight: 500;
}

.time {
    margin-right: 6px;
}

.wrapper-in:not(.wrapper-in:last-child) {
    margin-right: 12px;
}

.display {
    opacity: 0.9;
    font-size: 2.2rem;
}

@media (max-width: 690px) and (min-width: 620px) {
    .time {
        font-size: 3.4rem;
    }

    .display {
        font-size: 2rem;
    }
}
